$base-shade1: rgba(255,255,255,1);
$base-shade2: darken($base-shade1, 15%);
$base-shade3: darken($base-shade1, 25%);
$inverse-shade1: rgba(15,15,15,1);
$inverse-shade2: lighten($inverse-shade1, 5%);
$inverse-shade:3 lighten($inverse-shade1, 10%);
$primary-shade1: rgba(26, 188, 156,1);
$primary-shade2: darken($primary-shade1, 5%);
$primary-shade3: darken($primary-shade1, 10%);
$danger-shade1: rgba(231, 76, 60,1);
$danger-shade2: darken($danger-shade1, 5%);
$danger-shade3: darken($danger-shade1, 10%);
$warning-shade1: rgba(241, 196, 15, 1);
$warning-shade2: darken($warning-shade1, 5%);
$warning-shade3: darken($warning-shade1, 10%);
$success-shade1: rgba(46, 204, 113,1);
$success-shade2: darken($success-shade1, 5%);
$success-shade3: darken($success-shade1, 10%);
