$base-color: rgba(255,255,255,1);
$default-color: rgba(97,97,97 ,1);
$primary-color: rgba(33,150,243 ,1);
$success-color: rgba(139,195,74 ,1);
$warning-color: rgba(255,193,7 ,1);
$danger-color: rgba(244,67,54,1);
$info-color: rgba(96,125,139 ,1);