$neutral-color: rgba(256,256,256,1);
$inverse-color: rgba(66,73,74,1);
$default-color: rgba(149,165,166,1);
$primary-color: rgba(236,100,75,1);
$info-color: rgba(107,185,240,1);
$success-color: rgba(46, 204, 113,1.0);
$danger-color: rgba(231, 76, 60,1.0);