@mixin btn($background-color)
{
  color: $base-color;
  background-color: $background-color;
  border-color: $background-color;
}

@mixin btn-hover($border-color)
{
  color: $border-color;
  background-color: $base-color;
  border-color: $border-color;
}

@mixin alert($color)
{
  color: $color;
  border-color: $color;
  background-color: $base-color;
}