@import "compass";

@import "../modules/all";

.alert
{
  @include border-radius();
  border: 0;
  border-left: $main-border-thickness solid transparent;
}

.alert-success
{
  @include alert($success-shade1);
}

.alert-danger
{
  @include alert($danger-shade1);
}

.alert-warning
{
  @include alert($warning-shade1);
}

.alert-primary
{
  @include alert($primary-shade1);
}

.well
{
  background-color: transparent;
  border: none;
  @include border-radius();
  @include box-shadow(none);
  border-left: $main-border-thickness solid $inverse-shade1;
  //!!DEBUG ONLY
  padding: 5px 20px;
}