@import "compass";

@import "../modules/all";


.form-group
{
  margin-bottom: $main-line-height;
}
.form-control
{
  @include border-radius();
  @include box-shadow(none);
  border: 0;
  border-bottom: 1px solid $base-shade2;
  padding: 0;
}