@import "compass";

@import "../modules/all";

.navbar
{
  margin-top: $default-margin;
  margin-bottom: $default-margin;
}

.navbar-default
{
  background-color: transparent;
  @include border-radius();
  border: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
  background-color: transparent;
  border-bottom: 2px solid $primary-color;
}

