@import "compass";

@import "../modules/all";

//General panel style




.panel-heading
{
  padding: $second-margin;
}

.panel-body
{
  padding: $second-margin;
}

.panel-default>.panel-heading
{
  @include panel-heading($base-shade1);
}

.panel-footer
{
  background-color: $base-shade1;
}

//Accordion panel style
.panel-group .panel
{
  border: 0;
  @include box-shadow(none);
  @include border-radius();
}

.panel-group .panel:first-child .panel-heading
{
  border-top: 1px solid $base-shade2;
}

.panel-group .panel-heading
{
  border-bottom: 1px solid transparent;
  @include border-top-radius();
}

.panel-group .panel-default>.panel-heading
{
  border-color: #ccc;
}

.panel-group .panel .panel-default
{
  background-color: $base-shade1;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body
{
  border: 0;
}

.panel-collapse
{
  border-bottom: 1px solid $base-shade2;
}

.panel-group .panel+.panel
{
  margin-top: 0;
}

//Plus_Minus for accordion status
.accordion-status
{
  color: $primary-shade1;
}

