@import "compass";

@import "../modules/all";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

//Reuse already existing Bootstrap class for alternative style heading

h1,h2,h3,h4,h5,h6
{
  font-weight: 700;
}

h1
{
  text-transform: uppercase;
  font-size: 35px;
  color: $primary-color;
}


