@import "compass";

@import "../modules/all";

@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:700');

body
{
  font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6
{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.navbar
{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.indicator
{
  //!! DEBUG ONLY
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.indicator .breadcrumb li>a
{
  text-decoration: none;
}

.indicator .breadcrumb li>a:hover
{
  text-decoration: none;
}

.label
{
  font-weight: 500;
  font-size: 100%;
}

.text-success
{
  color: $success-shade1;
}

.text-danger
{
  color: $danger-shade1;
}

.text-warning
{
  color: $warning-shade1;
}

a
{
  color: $primary-shade1;
}

a:focus,a:hover
{
  color: $primary-shade2;
  text-decoration: none;
}